registry "https://registry.yarnpkg.com"
"@marktext:registry" "https://registry.npmjs.org"
"@marktext/file-icons:registry" "https://registry.npmjs.org"
"file-icons:registry" "https://registry.npmjs.org"
"@file-icons:registry" "https://registry.npmjs.org"
"@file-icons/atom:registry" "https://registry.npmjs.org"
"github:file-icons/atom" "https://github.com/file-icons/atom.git"

# Ignore platform and architecture for better compatibility
ignore-platform true
ignore-engines true

# Increase network timeout
network-timeout 300000
